AsynchronousFaultHandling/CallingService/employeeservice_client_ep.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="EmployeeService"
     targetNamespace="http://xmlns.oracle.com/AsynchronousFaultHandling/AsynchronousService/EmployeeService"
     xmlns:ns1="http://amis.nl/fault"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:client="http://xmlns.oracle.com/AsynchronousFaultHandling/AsynchronousService/EmployeeService"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <wsdl:documentation>
        <abstractWSDL>EmployeeService.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="EmployeeService">
        <plnk:role name="EmployeeServiceProvider" portType="client:EmployeeService"/>
        <plnk:role name="EmployeeServiceRequester" portType="client:EmployeeServiceCallback"/>
    </plnk:partnerLinkType>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         wsu:Id="wsaddr_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
    </wsp:Policy>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://amis.nl/fault" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:client="http://xmlns.oracle.com/AsynchronousFaultHandling/AsynchronousService/EmployeeService"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <import namespace="http://amis.nl/fault" schemaLocation="xsd/Employee.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="EmployeeServiceRequestMessage">
        <wsdl:part name="payload" element="ns1:EmployeeRequest"/>
    </wsdl:message>
    <wsdl:message name="EmployeeServiceResponseMessage">
        <wsdl:part name="payload" element="ns1:EmployeeResponse"/>
    </wsdl:message>
    <wsdl:portType name="EmployeeService">
        <wsdl:operation name="process">
            <wsdl:input message="client:EmployeeServiceRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="EmployeeServiceCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:EmployeeServiceResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeeServiceCallbackBinding" type="client:EmployeeServiceCallback">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processResponse">
            <soap:operation style="document" soapAction="processResponse"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/AsynchronousFaultHandling/AsynchronousService/EmployeeService"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmployeeServiceBinding" type="client:EmployeeService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy"
             wsdl:required="false"/>
        <wsdl:operation name="process">
            <soap:operation style="document" soapAction="process"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="employeeservice_client_ep">
        <wsdl:port name="EmployeeService_pt" binding="client:EmployeeServiceBinding">
            <soap:address location="http://soaps5.alfa.local:8001/soa-infra/services/github/AsynchronousService/employeeservice_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
