SoaRequestReply/soarnr/JmsRequestReply.wsdl

<wsdl:definitions
     name="JmsRequestReply"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/jms/SoaRequestReply/soarnr/JmsRequestReply"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/jms/SoaRequestReply/soarnr/JmsRequestReply"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:msg_in_out="http://xmlns.oracle.com/SoaEjbReference/SoaEjb/GetEmployeeNameProcess"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    >
  <plt:partnerLinkType name="JmsRequestReply_plt" >
    <plt:role name="Reply_role" >
      <plt:portType name="tns:Reply_ptt" />
    </plt:role>
    <plt:role name="Request_role" >
      <plt:portType name="tns:Request_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/SoaEjbReference/SoaEjb/GetEmployeeNameProcess" schemaLocation="xsd/EmployeeRequestResponse.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="Request_msg_out">
        <wsdl:part name="process" element="msg_in_out:process"/>
    </wsdl:message>
    <wsdl:message name="Reply_msg_in">
        <wsdl:part name="processResponse" element="msg_in_out:processResponse"/>
    </wsdl:message>
    <wsdl:portType name="Request_ptt">
        <wsdl:operation name="Request">
            <wsdl:input message="tns:Request_msg_out"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Reply_ptt">
        <wsdl:operation name="Reply">
            <wsdl:input message="tns:Reply_msg_in"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
