SoaEjbReference/SoaEjb/HrModelSessionEJB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="HrModelSessionEJB"
     targetNamespace="http://services.hr.model.soa.whitehorses.nl/"
     xmlns:tns="http://services.hr.model.soa.whitehorses.nl/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:types>
        <xsd:schema xmlns:ns0="http://services.hr.model.soa.whitehorses.nl/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://services.hr.model.soa.whitehorses.nl/types">
            <xsd:complexType name="departments">
                <xsd:sequence>
                    <xsd:element name="departmentId" type="xsd:long" minOccurs="0"/>
                    <xsd:element name="departmentName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="employees" type="ns0:employees" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="locationId" type="xsd:long" minOccurs="0"/>
                    <xsd:element name="managerId" type="xsd:long" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="employees">
                <xsd:sequence>
                    <xsd:element name="commissionPct" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="departmentId" type="xsd:long" minOccurs="0"/>
                    <xsd:element name="email" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="employeeId" type="xsd:long" minOccurs="0"/>
                    <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="hireDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="jobId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="phoneNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="salary" type="xsd:double" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://services.hr.model.soa.whitehorses.nl/" xmlns:tns="http://services.hr.model.soa.whitehorses.nl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://services.hr.model.soa.whitehorses.nl/types">
            <xsd:import namespace="http://services.hr.model.soa.whitehorses.nl/types"/>
            <xsd:complexType name="getDepartmentsFindAll">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="getDepartmentsFindAll" type="tns:getDepartmentsFindAll"/>
            <xsd:complexType name="getDepartmentsFindAllResponse">
                <xsd:sequence>
                    <xsd:element name="return" minOccurs="0" maxOccurs="unbounded" type="ns1:departments"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getDepartmentsFindAllResponse" type="tns:getDepartmentsFindAllResponse"/>
            <xsd:complexType name="createEmployee">
                <xsd:sequence>
                    <xsd:element name="arg0" type="ns1:employees"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="createEmployee" type="tns:createEmployee"/>
            <xsd:complexType name="createEmployeeResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="ns1:employees"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="createEmployeeResponse" type="tns:createEmployeeResponse"/>
            <xsd:complexType name="getEmployeesFindOne">
                <xsd:sequence>
                    <xsd:element name="empId" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getEmployeesFindOne" type="tns:getEmployeesFindOne"/>
            <xsd:complexType name="getEmployeesFindOneResponse">
                <xsd:sequence>
                    <xsd:element name="EmployeesResult" type="ns1:employees"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getEmployeesFindOneResponse" type="tns:getEmployeesFindOneResponse"/>
            <xsd:complexType name="getDepartmentsFindOne">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getDepartmentsFindOne" type="tns:getDepartmentsFindOne"/>
            <xsd:complexType name="getDepartmentsFindOneResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="ns1:departments"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getDepartmentsFindOneResponse" type="tns:getDepartmentsFindOneResponse"/>
            <xsd:complexType name="getEmployeesFindAll">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="getEmployeesFindAll" type="tns:getEmployeesFindAll"/>
            <xsd:complexType name="getEmployeesFindAllResponse">
                <xsd:sequence>
                    <xsd:element name="return" minOccurs="0" maxOccurs="unbounded" type="ns1:employees"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getEmployeesFindAllResponse" type="tns:getEmployeesFindAllResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getDepartmentsFindAllInput">
        <wsdl:part name="parameters" element="tns:getDepartmentsFindAll"/>
    </wsdl:message>
    <wsdl:message name="getDepartmentsFindAllOutput">
        <wsdl:part name="parameters" element="tns:getDepartmentsFindAllResponse"/>
    </wsdl:message>
    <wsdl:message name="createEmployeeInput">
        <wsdl:part name="parameters" element="tns:createEmployee"/>
    </wsdl:message>
    <wsdl:message name="createEmployeeOutput">
        <wsdl:part name="parameters" element="tns:createEmployeeResponse"/>
    </wsdl:message>
    <wsdl:message name="getEmployeesFindOneInput">
        <wsdl:part name="parameters" element="tns:getEmployeesFindOne"/>
    </wsdl:message>
    <wsdl:message name="getEmployeesFindOneOutput">
        <wsdl:part name="parameters" element="tns:getEmployeesFindOneResponse"/>
    </wsdl:message>
    <wsdl:message name="getDepartmentsFindOneInput">
        <wsdl:part name="parameters" element="tns:getDepartmentsFindOne"/>
    </wsdl:message>
    <wsdl:message name="getDepartmentsFindOneOutput">
        <wsdl:part name="parameters" element="tns:getDepartmentsFindOneResponse"/>
    </wsdl:message>
    <wsdl:message name="getEmployeesFindAllInput">
        <wsdl:part name="parameters" element="tns:getEmployeesFindAll"/>
    </wsdl:message>
    <wsdl:message name="getEmployeesFindAllOutput">
        <wsdl:part name="parameters" element="tns:getEmployeesFindAllResponse"/>
    </wsdl:message>
    <wsdl:portType name="HrModelSessionEJB">
        <wsdl:operation name="getDepartmentsFindAll">
            <wsdl:input message="tns:getDepartmentsFindAllInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:getDepartmentsFindAllOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
        <wsdl:operation name="createEmployee">
            <wsdl:input message="tns:createEmployeeInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:createEmployeeOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
        <wsdl:operation name="getEmployeesFindOne">
            <wsdl:input message="tns:getEmployeesFindOneInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:getEmployeesFindOneOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
        <wsdl:operation name="getDepartmentsFindOne">
            <wsdl:input message="tns:getDepartmentsFindOneInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:getDepartmentsFindOneOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
        <wsdl:operation name="getEmployeesFindAll">
            <wsdl:input message="tns:getEmployeesFindAllInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:getEmployeesFindAllOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
